<html>
	<head>
		<title> Stemspiration! - Home</title>
		<link ref="stylesheet" type="text/css" href="styles.css">
	</head>
	<body>
		<!-- Menu Section -->
		<div class='menu'>
			<ul>
				<li><a href="home.html">Home</a></li>
				<li><a href="why_steam.html">Why STEAM?</a></li>
				    <li>
        <a href="#">Code Camps</a>
        <ul>
            <li><a href="science_tech.html">Science/Tech</a></li>
            <li><a href="arts.html">Arts</a></li>
            <li><a href="math.html">Math</a></li>
            <li><a href="entrepreneurship.html">Entrepreneurship</a></li>
        </ul>
    </li>
				<li><a href="videos.html">Videos</a></li>
				<li><a href="connect.html">Connect</a></li>
				<li><a href="contact.html">Contact Us</a></li>
			</ul>
		</div>

		<H1> Homepage content goes here...<H1>
			